---
import AgeIcon from '../icons/Age.astro'
import DegreeIcon from '../icons/Award.astro'
import CalendarIcon from '../icons/Calendar.astro'
import InterestIcon from '../icons/Hearts.astro'
import LocationIcon from '../icons/Location.astro'
import StudyIcon from '../icons/Study.astro'
import CVButton from './CVButton.astro'
import { ABOUTME } from './js/Information.ts'
---

<div class="container">
	<div class="mb-4 flex flex-wrap">
		<div class="mb-4 flex w-full flex-col items-center md:w-1/4">
			<img
				class="mb-2 size-64 rounded-lg object-cover p-1 ring-2 ring-gray-300 grayscale-0 filter transition-all duration-300 hover:grayscale dark:ring-dark-4/60 md:size-40"
				src="/images/PHOTO.webp"
				alt=""
			/>
			<CVButton />
		</div>

		<div class="w-full text-sm md:w-3/4">
			<h3 class="mb-4 text-3xl font-bold">Soy {ABOUTME.name}</h3>
			{ABOUTME.description.split('\n').map((paragraph) => <p class="mb-4">{paragraph}</p>)}
		</div>
	</div>

	<div class="flex flex-wrap">
		<div class="w-full">
			<ul class="mb-8 grid grid-cols-2 gap-x-4 gap-y-4 text-sm">
				<li>
					<CalendarIcon class="inline-block size-6" />
					Fecha de nacimiento: {ABOUTME.birthday}
				</li><li>
					<AgeIcon class="inline-block size-6" />
					Edad: {ABOUTME.age}
				</li><li>
					<LocationIcon class="inline-block size-6" />
					Ubicación: {ABOUTME.location}
				</li><li>
					<InterestIcon class="inline-block size-6" />
					Intereses: {ABOUTME.interests.join(', ')}
				</li><li>
					<StudyIcon class="inline-block size-6" />
					Estudios: {ABOUTME.study}
				</li><li>
					<DegreeIcon class="inline-block size-6" />
					Título: {ABOUTME.degree}
				</li>
			</ul>
		</div>
	</div>
</div>
