---
export interface Props {
	date: string
	title: string
	role: string
	description: string
	link?: string
}

const { date, title, role, description, link } = Astro.props
---

<span
	class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900"
>
	<svg
		class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300"
		aria-hidden="true"
		xmlns="http://www.w3.org/2000/svg"
		fill="currentColor"
		viewBox="0 0 20 20"
	>
		<path
			d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
		></path>
	</svg>
</span>
<time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
	>{date}</time
>
<h3 class="mb-1 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
	{title}
</h3>

<h3 class="mb-1 flex items-center text-lg font-normal text-gray-900 dark:text-white">
	{role}
</h3>

<p class="mb-4 text-pretty text-base font-normal text-gray-500 dark:text-gray-400">
	{description}
</p>

{
	link && (
		<a
			href={link}
			class="inline-flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
		>
			<svg
				class="me-2.5 h-3.5 w-3.5"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			>
				<path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z" />
				<path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
			</svg>{' '}
			Saber más...
		</a>
	)
}
